table {
    width: 100%;
}

.center {
    text-align: center;
}

.centralizer {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;    
    gap: 15px;
    
}

.edit > i {
    color: #d9cd26;
}

.delete > i {
    color: #e35e6b;
}